---
layout: default
---



<div class="columns is-multiline">
    <div class="column is-4">
        <div class="columns is-multiline">
            <div class="column is-12">
                <p class="title is-6 has-text-centered">STOMPBOX</p>
                {% include pedal.html pedal=page.stompbox %}
            </div>
            <div class="column is-12">
                <p class="title is-6 has-text-centered">MOD</p>
                {% include pedal.html pedal=page.mod %}
            </div>
        </div>
    </div>
    <div class="column is-4">
        <p class="title is-6 has-text-centered">AMP</p>
        {% include pedal.html pedal=page.amp %}
    </div>
    <div class="column is-4">
        <div class="columns is-multiline">
            <div class="column is-12">
                <p class="title is-6 has-text-centered">DELAY</p>
                {% include pedal.html pedal=page.delay %}
            </div>
            <div class="column is-12">
                <p class="title is-6 has-text-centered">REVERB</p>
                {% include pedal.html pedal=page.reverb %}
            </div>
        </div>
    </div>
    <div class="column is-12 has-text-centered content is-small">
        <p>Submitted {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p>
    </div>
</div>

<p class="title is-4">Notes</p>

<div class="columns is-multiline">
    <div class="column is-6">
        <div class="content">
            {{ content }}
        </div>
    </div>

    {% if page.youtube %}
        <div class="column is-6">
            {% include youtube.html video=page.youtube %}
        </div>
    {% endif %}

    {% if page.instagram %}
        <div class="column is-6">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/{{ page.instagram }}/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
                <iframe src='//instagram.com/p/{{ page.instagram }}/embed/' frameborder='0' scrolling='no' allowtransparency='true' width="100%"></iframe> 
            </blockquote>
        </div>
        <script async defer src="//www.instagram.com/embed.js"></script>
    {% endif %}

</div>

